[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "thirdparty/libyuv-static/yuv"]
	path = thirdparty/libyuv-static/yuv
	url = https://chromium.googlesource.com/libyuv/libyuv
	branch = main
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:peilinok/spdlog.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = git@github.com:peilinok/asio.git
